//** Padding between columns. Gets divided in half for the left and right.
//$grid-gutter-width:         30px !default;



// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}


// Centered container element
//@mixin container-fixed($gutter: $grid-gutter-width) {
@mixin container-fixed() {
    margin-right: auto;
    margin-left: auto;
    //padding-left:  floor(($gutter / 2));
    //padding-right: ceil(($gutter / 2));
    @include clearfix;
}


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
    @include container-fixed;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.container-fluid {
    @include container-fixed;
}