// 이 파일에는 sass의 placeholder만 저장합니다.
@import 'mixins';



/********************
 * Fonts
 */
%font-title-big {
    @include mix-fonts($font-family-title, $font-size-xl, $color-white, $font-weight-bold)
}

%font-title-main {
    @include mix-fonts($font-family-title, $font-size-lg, $color-main, $font-weight-bold)
}

%font-title-black {
    @include mix-fonts($font-family-title, $font-size-lg, $color-black, $font-weight-bold)
}

%font-body {
    @include mix-fonts($font-family-normal, $font-size-md, $color-black)
}

%font-sub {
    @include mix-fonts($font-family-normal, $font-size-sm, $color-gray)
}

%font-sub-light {
    @include mix-fonts($font-family-normal, $font-size-sm, $color-light-gray)
}

%font-small {
    @include mix-fonts($font-family-normal, $font-size-xs, $color-gray)
}


/********************
 * Padding
 */
@include mix-padding($size-zero)
@include mix-padding($size-sm)
@include mix-padding($size-md)
@include mix-padding($size-lg)
@include mix-padding($size-12)



/********************
 * Margin
 */
@include mix-margin($size-zero)
@include mix-margin($size-sm)
@include mix-margin($size-md)
@include mix-margin($size-lg)



/********************
 * Border
 */
@include mix-border('normal', $color-white-gray)
@include mix-border('main', $color-main)
@include mix-border('zero', transparent, 0)




/********************
 * Responsive Visiblity
 */
// 핸드폰 에서 숨김처리
%hidden-xs-down {
    @media (min-width: 767px) {
        display: none !important;
    }
}

// 핸드폰, 태블릿 에서 숨김 처리
%hidden-sm-down {
    @media (min-width: 991px) {
        display: none !important;
    }
}

// 태블릿, PC 에서 숨김 처리 ==> 핸드폰에서만 보임
%hidden-sm-up {
    @media (max-width: 768px) {
        display: none !important;
    }
}

// PC에서 숨김 처리
%hidden-md-up {
    @media (max-width: 992px) {
        display: none !important;
    }
}


/********************
 * Text Alignment
 */
