// 이 파일에는 변수들만 저장합니다.


/********************
 * Font
 */
$font-family-title: 'NanumSquare', serif;;
$font-family-normal: 'NanumBarunGothic', sans-serif;

$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$font-weight-normal: 400;
$font-weight-bold: 700;



/********************
 * Color
 */
$color-main: #4b8fcc;
$color-sub: #333;

$color-dark-gray: #333;
$color-gray: #666;
$color-light-gray: #999;
$color-white-gray: #ddd;

$color-white: white;
$color-black: black;
$color-red: red;

$color-top-banner: #616477;



/********************
 * Sizing
 */
$size-zero: 0;
$size-sm: 4;
$size-md: 8;
$size-lg: 16;